#shoppingBag {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem 10rem;
}

.quantityCounterDiv {
  height: 1rem;
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0.7rem;
  border-radius: 1rem;
}
.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.afterCheckout {
  margin: 7rem;
  font-size: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  grid-column: span 3;
  justify-self: center;
  color: red;
  height: 15rem;
  align-items: center;
  background-color: beige;
  width: 30%;
}
.quantityCounterDiv > button {
  border: none;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
}
.cartValueDiv {
  padding: 1rem 10rem;
  display: flex;
  background-color: #c9e6ec;
  justify-content: space-around;
}
.cartValueText {
  font-size: 1.5rem;
}
.cartValueDiv > button {
  border-radius: 1rem;
  border: none;
  background-color: #14a675;
  background-color: #38ae96;
  color: white;
  font-size: 1.1rem;
  padding: 0 0.8rem;
}
.card > img {
  height: 30rem;
  width: 100%;
}
.card > h3 {
  padding-left: 1rem;
  margin-bottom: 0;
}
.cardContDiv {
  display: flex;
  padding: 0 1rem;
  gap: 2rem;
  align-items: center;
}
.cardContDiv > h4 {
  padding: 0 2rem;
  border-left: 1px solid gray;
}

/* product card */
.cardModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
#modalImage {
  height: 30rem;
}
.wishlistBtn {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}
.wishBtnClicked {
  transform: scale(1.1);
  color: red;
}
.wishlistBtn:hover {
  color: red;
}
.modal-content {
  position: relative;
  margin: 10% auto;
  background: white;
  width: 40rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
