#wishlistCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem 10rem;
}
.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card > img {
  height: 30rem;
  width: 100%;
}
.card > h3 {
  padding-left: 1rem;
  margin-bottom: 0;
}
.cardContDiv {
  display: flex;
  padding: 0 1rem;
  gap: 2rem;
  align-items: center;
}
.cardContDiv > h4 {
  padding: 0 2rem;
  border-left: 1px solid gray;
}
.addBtnClicked {
  transform: scale(1.2);
  color: red;
}
/* product card */
.cardModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
#modalImage {
  height: 30rem;
}
.addToCartBtn {
  color: white;
  justify-self: center;
  justify-content: center;

  align-items: center;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  width: 50%;
  height: 1.5rem;
  font-weight: 600;
  background-color: #3380ef;
  margin-bottom: 1.5rem;
}
.addToCartBtn:hover {
  background-color: #176ce2;

  color: white;
}

.wishlistBtn:hover {
  color: red;
}
.modal-content {
  position: relative;
  margin: 10% auto;
  background: white;
  width: 40rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
